* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

.App {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 520px;
  min-height: 500px;
  background: #161a2b;
  text-align: center;
  margin: 50px auto;
  border-radius: 10px;
}

h1 {
  color: #fff;
}
